# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore ALL .vscode config folders
.vscode/

# ignore ALL sass .map files
.sass-cache/
*.css.map
*.sass.map
*.scss.map
